body {
	padding: 100px 50px;
}

.stepper-input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#no-counters {
	margin: 20px auto 20px auto;
	color: var(--nord1)
}

.card.counter {
	border-radius: 4px;
}

#counter-label {
	padding-left: var(--gutter-tiny);
}

.browser-not-support-wrapper {
	margin: auto;
}

@media (max-width: 30em) {
	body {
		padding: 50px 15px;
	}
}